@use '../../../styles.scss';

/*
h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}

h5 {
  font-size: 2vw;
}
*/

.fixed-bg {
  background-image: url("../../../assets/image/aubreys-phenology-wheel-southern-hemisphere.jpg");
  min-height: 50vh;
  background-attachment: fixed;
  background-position-x: 8vw;
  background-position-y: 15vw;
  background-repeat: no-repeat;
  background-size: 30vw;
}

.dark-background{
  background-color: rgba($color: #252525, $alpha: 0.5);
  //opacity: 0.5;
}

.card-text, .card-footer{
  text-align: justify;
}

.card__shadow {
  box-shadow: 0px 20px 30px -20px;
  border-top: 3px solid styles.$lighten-20-base-color;
}

i {
  font-size: 6em;
  margin: 10px 0 20px 30px;
}

.fa-pagelines {
  color: rgb(0, 95, 0);
}

.fa-leaf {
  color: green;
}

.fa-envira {
  color: rgb(0, 177, 0);
}

.fa-eye {
  color: rgb(0, 123, 255);
}

.fa-calendar {
  color: rgb(128, 40, 40);
}

.fa-pagelines-autumn {
  color: rgb(196, 157, 0);
}

.fa-mobile {
  color: black;
  font-size: 10em;
}

.card-background{
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0px 6px 20px 4px rgba(0, 0, 0, 0.19);
}

.card__image {
  width: 150px;
  height: 200px;
  background-image: url("../../../assets/image/pipacs.jpg");
  background-size: 150px 200px;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 20px 20px white inset;
}

.float__div {
  float: inline-end;
}

.card__fullBackground {
  background-image: url("../../../assets/image/pipacs.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.card__inside {
  background-color: rgba(255, 255, 255, 0.8);
}

.title-background{
  //background-image: url("../../../assets/image/textura.jpg");
  //opacity: 0.3;
  background-color: rgb(231, 255, 213);
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0px 6px 20px 4px rgba(0, 0, 0, 0.19);
}

.mt-n5 {
  margin-top: -2rem !important;
  z-index: -1;
}
