<h1>Útmutató növényfenológiai megfigyelésekre</h1>

<h5>A fenológiai megfigyelések jelentősége</h5>

<p>
  A növényfenológia a növények környezeti viszonyoktól függő, szabályszerű
  egymásutánban bekövetkező jelenségeinek (rügyfakadás, virágzás, stb.)
  vizsgálatával foglalkozó tudomány. A vadnövények és a táplálékunkként szolgáló
  kultúrnövényeink fejlődési fázisait az időjárás döntő mértékben befolyásolja.
  Mivel az időjárás évről-évre másként alakul, a növények is évről-évre más
  időpontban érik el az egyes fejlettségi állapotaikat. Ezen időpontok ismerete
  nélkülözhetetlen pl. a gazdálkodók számára. A hosszú, évtizedekre szóló
  vadnövény fenológiai adatsorok pedig az éghajlat és az éghajlat-változás
  szempontjából rendkívül fontosak, hiszen a növények fejlődési stádiumai az
  éghajat változásával eltolódnak, azt nyomjelzőként mutatják.
</p>

<h5>A fenológiai megfigyelések fókusza</h5>

<p>
  Annak az időpontnak a pontos meghatározása, amikor egy növény új fenológiai
  fázisba lép.
</p>

<h5>Mennyi növényt kell, megfigyeljek?</h5>

<p>
  Az útmutatóban szereplő növények listája azokat a fajtákat tartalmazza,
  melyeket érdemesnek tartunk a megfigyelésre. Ha valaki ezek közül mindet, az
  összes fázissal meg tudja figyelni, az szenzációs. Ha valaki csak egy
  növényfaj egy fejlődési fázisának kezdetét tudja megfigyelni, az is nagyon jó.
  Rajtunk múlik: amennyire lehetőségünk van, amennyit időnk, energiánk enged. Ha
  valaki a felsoroltakon kívül más növényt figyel meg, azt is örömmel fogadjuk,
  és lehet a listában nem szereplő, de megfigyelésre érdemesnek tartott
  növényeket is javasolni.
</p>

<h5>A megfigyelések elvégzésének folyamata</h5>

<p>
  A megfigyelendő információk köre a lehető legjobban le van egyszerűsítve. Arra
  azonban figyeljünk, hogy csak olyan információkat adjunk meg, melyeket a saját
  szemünkkel figyeltünk meg, mások szóbeli tájékoztatása alapján ne készítsünk
  megfigyelést.
  <br />
  1. A növény fajtájának pontos azonosítása Nagyon fontos, hogy a növényeket
  pontoson beazonosítsuk, ebben segít az útmutató második felében azok
  fényképekkel illusztrált részletes leírása.
  <br />
  2. Az új fenológiai fázis azonosítása Az új fenológiai fázisba lépést akkor
  tudjuk pontosan azonosítani, ha a kiválasztott növényt napról-napra szemmel
  tartjuk.
  <br />
  3. A környezet, elsősorban a domborzat (sík terület, völgy, délies, északias
  lejtő) meghatározása. A lejtő irányultságának nagy szerepe van a fenológiai
  fázisok időpontjában, már kis körzeten belül is egy délies (így melegebb,
  napfényes) oldalban pl. jóval hamarabb kezdenek virágozni a növények, mint az
  északias oldalon.
  <br />
  4. A helyszín és dátum meghatározása
</p>

<h5>A megfigyelések rögzítése</h5>

<p>
  A megfigyeléseket az OMSZ MET-ÉSZ rendszerében kérjük rögzíteni, melyhez egy
  egyszeri regisztráció után kapunk jogosultságot. A MET-ÉSZ-be belépve, a Fórum
  fül Fenológia témakörében hozzászólásként kérjük rögzíteni a következő
  adatokat:
  <br />
  1. A megfigyelt növény helyszíne (település, településrész, pl:
  Miskolc-Diósgyőr), a domborzat-lejtő iránya (sík a terület, völgyben fekszik,
  vagy milyen irányultságú lejtőn található a növény)
  <br />
  2. A megfigyelt növény fajtája (jelen útmutatóban szereplő magyar név
  elegendő)
  <br />
  3. A megfigyelt növény új fenológiai fázisa
  <br />
  4. A megfigyelt növény új fázisba lépésének időpontja (év, hó, nap)
  <br />
  A Fórumban való rögzítés időpontja lehet akár napokkal a megfigyelés időpontja
  után is, de azért arra vigyázzunk, hogy addig rögzítsük, míg a dátumra
  pontosan emlékszünk.
</p>

<h5>Fenológiai fázisok</h5>

<h6>Fák és cserjék</h6>

<p>
  Egyes növényfajták fenológiai fázisai nem az alább leírt sorrendben
  következnek be. Pl. a som virágzása megelőzi a lombosodást.
  <br />
  1. Rügyfakadás
  <br />
  A rügyek felduzzadása szemmel láthatóan megindult, a rügypikkelyek között
  megjelent a lomb- ill. a sziromlevelek hegye.
  <br />
  2. Lombosodás kezdete
  <br />
  A rügyekből megjelentek az első zöld levelek, a fa távolról már nem látszik
  csupasznak. A som estében először a virágok nyílnak, csak ez után kezdődik a
  lombosodás.
  <br />
  3. Virágzás kezdete
  <br />
  Az első teljes mértékben kinyílt virágok megjelenése, de a virágok zöme még
  bimbóban van.
  <br />
  4. Teljes virágzás
  <br />
  A normálisan fejlett bimbók zömmel kinyíltak, a sziromlevelek szétterültek, a
  porzó és a bibe jól látható.
  <br />
  5. Érett termés
  <br />
  A gyümölcsöknél a termés a fajtára jellemző színt és nagyságot legalább 50
  %-ban elérte. Vadgesztenyénél, diónál a termésburok fölrepedését kell
  megfigyelni.
  <br />
  6. Őszi lombszíneződés kezdete
  <br />
  A levelek legalább 50%-a elszíneződött a fán.
  <br />
  7. Őszi lombhullás kezdete
  <br />
  A levelek zöme felvette a fajtára jellemző jellegzetes őszi színt, és legalább
  10 % le is hullott.
</p>

<h6>Lágyszárúak</h6>

<p>
  1. Virágzás kezdete
  <br />
  Az első teljes mértékben kinyílt virágok megjelenése.
</p>

<a [routerLink]="'/plant'" class="card-link">Növények részletes bemutatása</a>
