<div class="container">
  <!--  <div class="fixed-bg row justify-content-end mr-5">
    <div class="col-5 my-3"> -->
  <h2 class="p-3 mt-5 text-center fw-bold">
    Útmutató növényfenológiai megfigyelésekre
  </h2>
  <!-- </div>
  </div> -->

  <div class="card mx-lg-5 mt-5 card__shadow">
    <h3 class="card-title fw-bold mt-4 mx-5 text-center text-md-left">
      A fenológiai megfigyelések jelentősége
    </h3>
    <div class="align-middle mb-5">
      <p class="card-text mx-3">
        <br />
        A növényfenológia a növények környezeti viszonyoktól függő, szabályszerű
        egymásutánban bekövetkező jelenségeinek (rügyfakadás, virágzás, stb.)
        vizsgálatával foglalkozó tudomány. A vadnövények és a táplálékunkként
        szolgáló kultúrnövényeink fejlődési fázisait az időjárás döntő mértékben
        befolyásolja. Mivel az időjárás évről-évre másként alakul, a növények is
        évről-évre más időpontban érik el az egyes fejlettségi állapotaikat.
        <br />
        <br />
      </p>
      <div class="mx-3 card-text">
        <div class="float__div">
          <i class="fa fa-pagelines"></i>
        </div>
        Ezen időpontok ismerete nélkülözhetetlen pl. a gazdálkodók számára. A
        hosszú, évtizedekre szóló vadnövény fenológiai adatsorok pedig az
        éghajlat és az éghajlat-változás szempontjából rendkívül fontosak,
        hiszen a növények fejlődési stádiumai az éghajat változásával
        eltolódnak, azt nyomjelzőként mutatják.
      </div>
    </div>
  </div>

  <div class="card mx-lg-5 mt-5 card__shadow">
    <h3 class="card-title fw-bold mt-4 mx-5 text-center text-md-left">
      A fenológiai megfigyelések fókusza
    </h3>
    <div class="align-middle mb-5">
      <p class="card-text mx-3">
        <br />
        A fenológiai megfigyelések fókusza annak az időpontnak a pontos
        meghatározása, amikor egy növény új fenológiai fázisba lép.
        <br />
        <br />
        Egyes növényeknél például az első virágok megjelenése és az egész növény
        virágba borulása között akár hosszabb idő is eltelhet, különösen a tél
        végén, tavasz elején, ezért tanulmányozzuk a lentebb fölsorolt
        fenológiai fázisokhoz tartozó küszöbértékeket.
      </p>
      <div class="mx-3 card-text">
        <div class="float__div">
          <i class="fa fa-leaf"></i>
        </div>
        Az időben hosszan elhúzódóan virágzó növényeknél (pl. mogyoró) fontos
        információt jelent annak megfigyelése is, hogy a növény éppen virágzik.
        Ezért rögzítsünk ilyen megfigyeléseket is, még ha a virágzás kezdetének
        pontos napját nem is tudjuk.
      </div>
    </div>
  </div>

  <div class="card mx-lg-5 mt-5 card__shadow">
    <h3 class="card-title fw-bold mt-4 mx-5 text-center text-md-left">
      Mennyi növényt kell megfigyelnem?
    </h3>
    <div class="align-middle mb-5">
      <p class="card-text mx-3">
        <br />
        Az útmutatóban szereplő növények listája azokat a fajtákat tartalmazza,
        melyeket érdemesnek tartunk a megfigyelésre. Ha valaki ezek közül
        mindet, az összes fázissal meg tudja figyelni, az szenzációs.
      </p>
      <div class="mx-3 card-text">
        <div class="float__div">
          <i class="fa fa-envira"></i>
        </div>
        Ha valaki csak egy növényfaj egy fejlődési fázisának kezdetét tudja
        megfigyelni, az is nagyon jó. Rajtunk múlik: amennyire lehetőségünk van,
        amennyit időnk, energiánk enged.
      </div>
    </div>
  </div>

  <div class="card mx-lg-5 mt-5 card__shadow">
    <h3 class="card-title fw-bold mt-4 mx-5 text-center text-md-left">
      A megfigyelések elvégzésének folyamata
    </h3>
    <div class="align-middle mb-5">
      <br />
      <p class="card-text mx-3">
        A növényfenológiai megfigyeléseket hivatásos keretek között igen sok
        részletre kiterjedően végzik. Ebben a rendszerben azonban a lehető
        legegyszerűbb információk is megadhatók.
      </p>
      <ol class="card-text mx-3">
        <li>
          A növény <b>fajtájának</b> pontos azonosítása
          <p>
            Nagyon fontos, hogy a növényeket pontoson beazonosítsuk. Ebben segít
            a növények fényképekkel illusztrált részletes
            <a [routerLink]="'/plant'" class="card-link">bemutatása</a>.
          </p>
        </li>
        <li>
          Az <b>új fenológiai fázis</b> azonosítása
          <p>
            Az új fenológiai fázisba lépést akkor tudjuk pontosan azonosítani,
            ha a kiválasztott növényt napról-napra szemmel tartjuk. Mivel ez nem
            mindig sikerül, lehetőség van arra is, hogy nem a fázis kezdetét,
            hanem annk létét adjuk meg, mert ennek is van jelentősége. Például
            virágzik a som, vagy éppen nyugalmi állapotban van a mogyoró.
          </p>
        </li>
        <li>
          A <b>környezet</b>, elsősorban a domborzat (sík terület, völgy,
          délies, északias lejtő) meghatározása
          <p>
            A lejtő irányultságának nagy szerepe van a fenológiai fázisok
            időpontjában, már kis körzeten belül is egy délies (így melegebb,
            napfényes) oldalban pl. jóval hamarabb kezdenek virágozni a
            növények, mint az északias oldalon.
          </p>
        </li>
        <li>A <b>helyszín</b> és <b>dátum</b> meghatározása</li>
      </ol>
      <br />

      <div class="mx-3 card-text">
        <div class="float__div">
          <i class="fa fa-eye"></i>
        </div>
        A megfigyelendő információk köre a lehető legjobban le van
        egyszerűsítve. Arra azonban figyeljünk, hogy csak olyan információkat
        adjunk meg, melyeket a saját szemünkkel figyeltünk meg, mások szóbeli
        tájékoztatása alapján ne készítsünk megfigyelést.
      </div>
    </div>
  </div>

  <div class="card mx-lg-5 mt-5 card__shadow">
    <h3 class="card-title fw-bold mt-4 mx-5 text-center text-md-left">
      A megfigyelések rögzítése
    </h3>
    <div class="align-middle mb-5">
      <p class="card-text mx-3">
        <br />
        A megfigyeléseket kérjük az OMSZ növényfenológiai megfigyelései
        portálján, azaz ezen az oldalon rögzíteni. A rögzítéshez egy egyszeri
        <a [routerLink]="'/register'" class="card-link">regisztrációt</a>
        követően kapunk jogosultságot. Az alabbi adatokat adjuk meg:
      </p>
      <ol class="card-text mx-3">
        <li>
          <p>
            A megfigyelt növény <b>helyszíne</b> (település, településrész, pl:
            Miskolc-Diósgyőr), a domborzat-lejtő iránya (sík a terület, völgyben
            fekszik, vagy milyen irányultságú lejtőn található a növény)
          </p>
        </li>
        <li>
          <p>
            A megfigyelt növény <b>fajtája</b> (az útmutatóban szereplő magyar
            név elegendő)
          </p>
        </li>
        <li>
          <p>A megfigyelt növény új <b>fenológiai fázisa</b></p>
        </li>

        <li>
          <p>
            A megfigyelt növény új fázisba lépésének <b>időpontja</b> (év, hó,
            nap)
          </p>
        </li>
      </ol>
      <div class="mx-3 card-text">
        <div class="float__div">
          <i class="fa fa-calendar"></i>
        </div>
        A rögzítés időpontja lehet akár napokkal a megfigyelés időpontja után
        is, de azért arra vigyázzunk, hogy addig rögzítsük, míg a dátumra
        pontosan emlékszünk, vagy a megfigyeléskor jegyezzük föl a megfelelő
        adatokat.
      </div>
    </div>
  </div>

  <div class="card mx-lg-5 mt-5 card__shadow">
    <h3 class="card-title fw-bold mt-4 mx-5 text-center text-md-left">
      Fenológiai fázisok
    </h3>
    <div class="align-middle mb-5">
      <h5 class="mt-5 mx-3"><b>Fák és cserjék</b></h5>
      <br />
      <ol class="card-text mx-3">
        <li>
          <b>Rügyfakadás</b>
          <p>
            A rügyek felduzzadása szemmel láthatóan megindult, a rügypikkelyek
            között megjelent a lomb- ill. a sziromlevelek hegye.
          </p>
        </li>
        <li>
          <b>Lombosodás kezdete</b>
          <p>
            A rügyekből megjelentek az első zöld levelek, a fa távolról már nem
            látszik csupasznak. A som estében először a virágok nyílnak, csak ez
            után kezdődik a lombosodás.
          </p>
        </li>
        <li>
          <b>Virágzás kezdete</b>
          <p>
            Az első teljes mértékben kinyílt virágok megjelenése, de a virágok
            zöme még bimbóban van.
          </p>
        </li>
        <li>
          <b>Teljes virágzás</b>
        </li>
        <p>
          A normálisan fejlett bimbók zömmel kinyíltak, a sziromlevelek
          szétterültek, a porzó és a bibe jól látható.
        </p>
        <li>
          <b>Érett termés</b>
          <p>
            A gyümölcsöknél a termés a fajtára jellemző színt és nagyságot
            legalább 50 %-ban elérte. Vadgesztenyénél, diónál a termésburok
            fölrepedését kell megfigyelni.
          </p>
        </li>
        <li>
          <b>Őszi lombszíneződés kezdete</b>
          <p>A levelek legalább 50%-a elszíneződött a fán.</p>
        </li>
        <li>
          <b>Őszi lombhullás kezdete</b>
          <p>
            A levelek zöme felvette a fajtára jellemző jellegzetes őszi színt,
            és legalább 10 % le is hullott.
          </p>
        </li>
      </ol>
      <br />

      <h5 class="mx-3"><b>Lágyszárúak</b></h5>
      <ol class="card-text mx-3">
        <li>
          <b>Virágzás kezdete</b>
          <p>Az első teljes mértékben kinyílt virágok megjelenése.</p>
        </li>
      </ol>
      <br />
      <div class="mx-3 card-text">
        <div class="float__div">
          <i class="fa fa-pagelines fa-pagelines-autumn"></i>
        </div>
        A lista egy általános leírás, egyes növényfajták fenológiai fázisai nem
        az alább leírt sorrendben következnek be. Például a som virágzása
        megelőzi a lombosodást.
      </div>
    </div>
  </div>

  <div class="card mx-lg-5 mt-5 card__shadow">
    <h3 class="card-title fw-bold mt-4 mx-5 text-center text-md-left">
      A megfigyelési portál használata
    </h3>
    <div class="align-middle mb-5">
      <p class="card-text mx-3">
        <br />
        A megfigyeléseket az alábbi lépésekkel tudjuk rögzíteni:
      </p>
      <ol class="card-text mx-3">
        <li>
          <b>Regisztráció</b>
          <p>
            A rögzítéshez egy egyszeri
            <a [routerLink]="'/register'" class="card-link">regisztrációt</a>
            követően kapunk jogosultságot. A regisztrációnál egy érvényes email
            címet és jelszót kell megadnunk. Erre a címre kapunk egy levelet,
            amelyben egy, a regisztráció megerősítését lehetővé tevő link
            található. A linkre kattintva aktiválódik a regisztrációnk.
          </p>
        </li>
        <li>
          <b>Megfigyelés kötelező elemek</b>
          <p>
            A megfigyelésnél kötelező elemként a megfigyelés <b>dátumát</b> az
            erre szolgáló beviteli mezőben egy dátumválasztó táblázatból lehet
            megadni. Jövőre vonatkozó időpont nem adható meg. <br />
            A <b>helyszínt</b> úgy adjuk meg, hogy az beazonosítható legyen,
            lehetőleg települést, vagy hivatalos földrajzi helyet. A
            <b>növény</b> és annak fenológiai <b>fázisa</b> listából
            kiválasztható. A <b>megfigyelés elküldésével</b> rögzíthetjük az
            adatbázisban a megfigyelésünket, mely megjelenik a
            <a [routerLink]="'/data'" class="card-link"
              >beérkezett megfigyelések</a
            >
            között.
          </p>
        </li>
        <li>
          <b>Megfigyelés nem kötelező elemek</b>
          <p>
            A megfigyelésnél lehetőség van <b>fénykép készítésére</b> eszközünk,
            telefonunk kamerájával, amennyiben ezt engedélyezzük készülékünkön.
            Több kép is készíthető a fénykép exponálása gombbal. <br />
            Lehetőség van <b>korábban készített</b> képek kiválasztására is.
            <br />
            A készített, kiválasztott képek megjelennek a beviteli oldalon, azok
            <b>törölhetőek</b> még a megfigyelés rögzítése előtt. <br />
            A <b>megjegyzés</b> mezőben olyan információkat adhatunk meg, mint
            például a helyszín domborzata (déli, északi lejtő), egy vagy több
            növényt figyelünk meg, azok hány százaléka lépett a megadott
            fenológiai fázisba.
          </p>
        </li>
        <li>
          <b>Elefejtett jelszó</b>
          <p>
            Amennyiben elfelejtettük jelszavunkat, a
            <a [routerLink]="'/login'" class="card-link">bejelentkezés</a>
            oldalon lehetőség van új jelszót kérni email címünk megadásával.
            Ekkor egy levelet kapunk egy linkkkel, mellyel új jelszót
            állíthatunk be.
          </p>
        </li>
        <li>
          <b>Profil</b>
          <p>
            Sikeres bejelentkezés után a 'Profil' menüpontban módosíthatjuk
            adatainkat (módosíthatjuk nevünket, megadhatunk új jelszót) email
            címünk kivételével.
          </p>
        </li>
        <li>
          <b>Saját megfigyelések</b>
          <p>
            Sikeres bejelentkezés után a 'Saját megigyelések' menüpontban
            láthatjuk az átlalunk beküldött megfigyeléseket. Saját
            megfigyeléseink törölhetőek. <br />
            Amennyiben hibás megfigyelést küldtünk be, nyugodtan törölhetjük,
            majd küldhetünk újat.
          </p>
        </li>
      </ol>
      <div class="mx-3 card-text">
        <div class="float__div">
          <i class="fa fa-mobile"></i>
        </div>
        <br />
        Minden olyan feltöltött tartalom, mely nem növényfenológiai témájú,
        törlésre kerül az oldalról az
        <a
          [routerLink]="'/assets/fenologia_jogi_nyilatkozat.pdf'"
          class="card-link"
          >adatvédelmi szabályzatnak</a
        >
        megfelelően. Az ilyen tartalmat feltöltő felhasználó pedig akár végleges
        kizárásra is kerülhet.
      </div>
    </div>
  </div>

  <!--

  <div class="card m-5 shadow" style="max-width: 100vw">
    <div class="row">
      <div class="col-md-8">
        <div class="card-body align-middle">
          <h3 class="card-title fw-bold text-center">
            A megfigyelések elvégzésének folyamata
          </h3>
          <p class="card-text">
            A megfigyelendő információk köre a lehető legjobban le van
            egyszerűsítve. Arra azonban figyeljünk, hogy csak olyan
            információkat adjunk meg, melyeket a saját szemünkkel figyeltünk
            meg, mások szóbeli tájékoztatása alapján ne készítsünk megfigyelést.
            <br />
          </p>
          <ol class="card-text">
            <li>
              A növény fajtájának pontos azonosítása
              <p>
                Nagyon fontos, hogy a növényeket pontoson beazonosítsuk, ebben
                segít az útmutató második felében azok fényképekkel illusztrált
                részletes leírása.
              </p>
            </li>
            <li>
              Az új fenológiai fázis azonosítása
              <p>
                Az új fenológiai fázisba lépést akkor tudjuk pontosan
                azonosítani, ha a kiválasztott növényt napról-napra szemmel
                tartjuk.
              </p>
            </li>
            <li>
              A környezet, elsősorban a domborzat (sík terület, völgy, délies,
              északias lejtő) meghatározása
              <p>
                A lejtő irányultságának nagy szerepe van a fenológiai fázisok
                időpontjában, már kis körzeten belül is egy délies (így
                melegebb, napfényes) oldalban pl. jóval hamarabb kezdenek
                virágozni a növények, mint az északias oldalon.
              </p>
            </li>
            <li>A helyszín és dátum meghatározása</li>
          </ol>
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="../../../assets/image/akac.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
    </div>
  </div>

  <div class="card mx-5 mt-5 card__shadow card__fullBackground">
    <div class="card__inside">
      <h3 class="card-title fw-bold mt-3 mx-5">
        A fenológiai megfigyelések jelentősége
      </h3>
      <div class="align-middle mb-5">
        <p class="card-text mx-5">
          <br />
          A növényfenológia a növények környezeti viszonyoktól függő,
          szabályszerű egymásutánban bekövetkező jelenségeinek (rügyfakadás,
          virágzás, stb.) vizsgálatával foglalkozó tudomány. A vadnövények és a
          táplálékunkként szolgáló kultúrnövényeink fejlődési fázisait az
          időjárás döntő mértékben befolyásolja. Mivel az időjárás évről-évre
          másként alakul, a növények is évről-évre más időpontban érik el az
          egyes fejlettségi állapotaikat.
          <br />
          <br />
          Ezen időpontok ismerete nélkülözhetetlen pl. a gazdálkodók számára. A
          hosszú, évtizedekre szóló vadnövény fenológiai adatsorok pedig az
          éghajlat és az éghajlat-változás szempontjából rendkívül fontosak,
          hiszen a növények fejlődési stádiumai az éghajat változásával
          eltolódnak, azt nyomjelzőként mutatják.
        </p>
      </div>
    </div>
  </div>

  <div>
    <div class="card title-background mt-5" style="max-width: 70vw">
      <h3 class="card-title fw-bold m-3">
        A fenológiai megfigyelések jelentősége
      </h3>
    </div>

    <div class="card mx-5 mt-n5 card-background">
      <div class="align-middle mb-5">
        <p class="card-text mx-5 mt-5">
          <br />
          A növényfenológia a növények környezeti viszonyoktól függő,
          szabályszerű egymásutánban bekövetkező jelenségeinek (rügyfakadás,
          virágzás, stb.) vizsgálatával foglalkozó tudomány. A vadnövények és a
          táplálékunkként szolgáló kultúrnövényeink fejlődési fázisait az
          időjárás döntő mértékben befolyásolja. Mivel az időjárás évről-évre
          másként alakul, a növények is évről-évre más időpontban érik el az
          egyes fejlettségi állapotaikat.
          <br />
          <br />
          Ezen időpontok ismerete nélkülözhetetlen pl. a gazdálkodók számára. A
          hosszú, évtizedekre szóló vadnövény fenológiai adatsorok pedig az
          éghajlat és az éghajlat-változás szempontjából rendkívül fontosak,
          hiszen a növények fejlődési stádiumai az éghajat változásával
          eltolódnak, azt nyomjelzőként mutatják.
        </p>
      </div>
    </div>
  </div>

  <div class="card mx-5 mt-5 card__shadow">
    <h3 class="card-title fw-bold mt-3 mx-5">
      A fenológiai megfigyelések jelentősége
    </h3>
    <div class="align-middle mb-5">
      <p class="card-text mx-5">
        <br />
        A növényfenológia a növények környezeti viszonyoktól függő, szabályszerű
        egymásutánban bekövetkező jelenségeinek (rügyfakadás, virágzás, stb.)
        vizsgálatával foglalkozó tudomány. A vadnövények és a táplálékunkként
        szolgáló kultúrnövényeink fejlődési fázisait az időjárás döntő mértékben
        befolyásolja. Mivel az időjárás évről-évre másként alakul, a növények is
        évről-évre más időpontban érik el az egyes fejlettségi állapotaikat.
        <br />
        <br />
      </p>
      <div class="mx-5 card-text">
        <div class="float__div">
          <div class="card__image"></div>
        </div>
        Ezen időpontok ismerete nélkülözhetetlen pl. a gazdálkodók számára. A
        hosszú, évtizedekre szóló vadnövény fenológiai adatsorok pedig az
        éghajlat és az éghajlat-változás szempontjából rendkívül fontosak,
        hiszen a növények fejlődési stádiumai az éghajat változásával
        eltolódnak, azt nyomjelzőként mutatják.
      </div>
    </div>
  </div>
</div>
 -->
</div>
