<div class="container" *ngIf="article$ | async as article">
  <h1 class="mt-5">{{ article.title }}</h1>

  <p>
    <i> {{ article.date | date : 'YYYY. MM. dd.' }} </i>
  </p>

  <p>{{ article.abstract }}</p>

  <div *ngIf="article.images[0]" class="my-4">
    <img [src]="article.images[0]" alt="" class="me-4" style="float:left" width="60%"/>
  </div>

  <p class="">{{ article.main }}</p>

  <div *ngIf="article.images[1]">
    <img [src]="article.images[1]" alt="" class="me-2 my-4" style="float:right" width="60%"/>
  </div>

  <div *ngIf="article.images[2]">
    <img [src]="article.images[2]" alt="" class="me-2 my-4" style="float:left" width="60%"/>
  </div>

</div>
