<div class="mt-5">
  <div class="container">
    <div class="fixed-bg importance-bg row justify-content-end">
      <div class="col-5 dark-background py-1">
        <h2 class="p-3 text-light text-center fw-bold">
          A növényfenológia jelentősége
        </h2>
        <h5 class="p-3 text-light text-justify">
          Az éghajlat a meteorológiai elemek sokaságának statisztikai elemzése
          révén írható le, viszont a növények életciklusának alakulása, valamint
          a növényi produkció összegzi a környezeti hatásokat, az időjárási
          elemek összhatását mutatja. Így a növény kiváló meteorológiai eszköz
          az éghajlat, az éghajlat változásának jellemzésére.
        </h5>
      </div>
    </div>

    <h3 class="py-5 text-center"><b>fenológia = megjelenéstan </b></h3>

    <p class="py-3 text-justify">
      A (fito)fenológia a növények környezeti viszonyoktól függő, szabályszerű
      egymásutánban bekövetkező jelenségeinek vizsgálatával foglalkozó tudomány.
      A fenológiai jelenségek a növény fejlődésének látható jelei, a fenológiai
      fázisok az egyes élettani szakaszok határpontjai, melyek szabályszerű
      rendben követik egymást, ezért hű képet adnak a fejlődés üteméről. A
      fenológia eredeti feladata a fejlődési fázisok naptári időpontok szerinti
      feljegyzése volt.
    </p>

    <p class="py-3 text-justify">
      Az évtizedek során többször változott a növényfenológiai megfigyelések
      célja. A XX. század közepéig a természettudományos érdeklődés és az
      ismeretszerzés, a XX. század közepétől a mezőgazdasági termesztés
      föllendítése, a termés- és a vegyszeres növényvédelem-optimalizálás, a
      XXI. században pedig egyre inkább az éghajlatváltozás nyomon követése lett
      a fő cél.
    </p>

    <p class="py-3 text-justify">
      A hőmérséklet emelkedésével az éghajlati övek eltolódnak, a mérsékelt
      szélességeken a vegetációs időszak hosszabbodik, a kártevők és kórokozók
      elterjedési területe is megváltozik. A növények komplex módon reagálnak az
      éghajat változására, így a hosszú fenológiai adatsorok hűen tükrözik a
      klíma változását.
    </p>

    <p class="py-3 text-justify">
      Genfben a XIX. század eleje óta folyamatosan végeznek észleléseket a
      gesztenye lombosodásának kezdeti időpontjára vonatkozóan. Aono és Kazui
      2008-ban megjelent tudományos cikkükben a Japánban tradicionálisan
      kultikus jelentőséggel bíró, s ezért Kiotóban különböző formában több mint
      egy évezrede dokumentált japáncseresznye virágzás időpontját
      rekonstruálták az i.sz. 801‒2005. közötti időszakra vonatkozóan. Korábbi
      kutatási eredményekre támaszkodva és korabeli naplók, krónikák,
      költemények és újság-cikkek adatait is felhasználva a kérdéses időszak
      éveinek több mint 60%-ára számszerűen előállították a márciusi-április
      közepi cseresznyevirágzás időpontját, s az így nyert adatbázis alapján
      elemezték a területre jellemző éghajlatingadozásokat.
    </p>

    <div class="container my-5 border shadow justify-content-center mb-5">
      <div class="d-flex justify-content-center">
        <img
          src="../../../assets/image/5-Figure2-1.png"
          class="illustration my-5"
          alt=""
        />
      </div>

      <label for="illustration" class="d-block text-center mb-3 fst-italic"
        >A japáncseresznye virágzási időpontja Kiotóban 801. és 2005. között az
        évből eltelt napok számában megadva Yasuyuki Aono és Keiko Kazui nyomán
        (Int. J. Climatol. 2008.)</label
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="fixed-bg history-bg row justify-content-start my-5">
    <div class="col-5 dark-background py-5">
      <h2 class="p-3 text-light text-center fw-bold">
        A növényfenológia rövid története
      </h2>
      <h5 class="p-3 text-light text-justify">
        A természethez a mainál sokkal közelebb élő és attól sokkal jobban függő
        ember mindig is figyelte az időjárás és a természet folyamatait, a
        növények évenkénti fejlődését, az állatok viselkedését. Számos népi
        időjárási megfigyelésünk kapcsolódik növényekhez és állatokhoz.
      </h5>
    </div>
  </div>

  <p class="py-3 text-justify">
    Február 19-én például a pacsirta megszólalását várták, mert az korai tavaszt
    ígért. Március 19-én, József napon a fecskéket megérkezését várták és ekkor
    engedték ki a méheket is először. Úgy tartották, hogy ha a fecskék még Szent
    Mihály napján, szeptember 29-én sem mentek el, akkor hosszú ősz várható.
    Egyes napok időjárásából pedig a várható termésre következtettek:
    Gyertyaszentelő Boldogasszony napján, február 2-án például a Bács megyei
    Topolyán azt tartották, hogy amilyen hosszú jégcsapok lógnak az ereszről,
    olyan hosszú kukoricacsövek teremnek majd. Mátyás napján, február 24-én a
    hideg idő jó termést ígért, az eső pedig jégverést és savanyú szőlőt
    jelentett.
  </p>

  <p class="py-3 text-justify">
    Carl Linné (1707-1778) az alapvető botanikai rendszerező munkája mellett
    évenként adatokat gyűjtött a vadmadarak költözésének és visszatérésének
    időpontjáról. Följegyezte, hogy mikor áll be a tavaszi olvadás, melyek az
    elsőként nyíló tavaszi növények és mikor hozzák termésüket. Többéves
    megfigyeléseivel Linné megalapította a fenológia tudományát.
  </p>

  <p class="py-3 text-justify">
    Hazánkban már Kitaibel Pál (1757-1817) botanikai és terepmunkája során
    följegyezte a fajok virítási idejét, időtartamát, melyből az élőhelyek
    eltérő éghajlati adottságaira következtetett.
  </p>

  <p class="py-3 text-justify">
    Charles Morren (1807-1858), a Liege-i Egyetem botanika professzora használta
    először tudományos cikkben a „fenológia” kifejezést.
  </p>

  <p class="py-3 text-justify">
    Mivel az időjárás és a növények fejlődése közötti szoros kapcsolat
    nyilvánvaló volt, a XIX. század második felében megalakuló nemzeti
    meteorológiai szolgálatok mérési programjában szerepelt a növények
    megfigyelése is. A XX. század második felében a nemzeti hálózatok nagyobb
    térségeket átfogó hálózatokká szerveződtek. Sokfelé, a világ fejlett
    országaiban is, a meteorológiai szolgálatok szervezésében ma is folyamatosan
    zajlanak a megfigyelések, vannak professzionális és növekvő számban önkéntes
    hálózatok is. A XX. század végén, a XXI. század elején azonban az
    automatizálás előre törésével a megfigyelések sokfelé háttérbe szorultak, a
    hiányzó adatokat számítógépes modellezéssel és műholdfelvételekkel próbálják
    pótolni. A műholdfelvételekből a hagyományos fenológiai fázisok
    megfigyelésére nincs lehetőség, egy úgynevezett tájképi fenológiai skála
    alkalmazása szükséges, mely alapján a „tavasz kezdete”, „nyár kezdete”, „ősz
    kezdete” és „tél kezdete” állapotok jelennek meg.
  </p>

  <div class="container my-5 border shadow">
    <div class="d-flex justify-content-center">
      <img
        src="../../../assets/image/FAPAR_erdo.png"
        class="illustration my-5"
        alt=""
      />
    </div>
    <label for="illustration" class="d-block text-center mb-3 fst-italic"
      >A FAPAR műholdas vegetációs index éves menete hazánkban 1999. és 2018.
      között lombhullató erdőkre. A kitavaszodás, vagyis amikor megugrik az
      index értéke, illetve a lombhullás időszaka, amikor lecsökken az értéke,
      minden évben kicsit máskor történik az időjárásnak megfelelően. (A FAPAR
      index számszerűsíti az élő zöld növényzet által elnyelt, a
      fotoszintézishez szükséges napsugárzás arányát. Értéke 0 és 1 között
      változik, mértékegység nélküli arányszám. A FAPAR index az ENSZ Globális
      Éghajlati Megfigyelő Rendszere (GCOS) által elismert 50 alapvető
      klímaváltozó (ECV) egyike a Föld éghajlatának jellemzéséhez.)
      <br />
      <a
        href="https://www.met.hu/ismeret-tar/erdekessegek_tanulmanyok/index.php?id=2420&hir=A_novenyzet_muholdas_megfigyelese_%E2%80%93_vegetacios_indexek"
        target="_blank"
        >Műholdas vegetációs indexekről szóló részletes tanulmány az OMSZ honlapján>></a
      >
    </label>
  </div>

  <p class="py-3 text-justify">
    A kutatások szerint Európában a tavaszi-nyári fenológiai fázisok időpontjai
    10 évenként mintegy 2,5 nappal korábbra kerülnek, míg az őszi elszíneződés,
    levélhullás időpontjaiban nincs számottevő trend.
  </p>

  <div class="container my-5 border shadow">
    <div class="d-flex justify-content-center">
      <img
        src="../../../assets/image/FAPAR_tavasz_erdo.png"
        class="illustration my-5"
        alt=""
      />
    </div>

    <label for="illustration" class="d-block text-center mb-3 fst-italic"
      >A FAPAR index változása hazánkban a tavaszi hónapokban lombhullató
      erőkben 1999. és 2018. között. Mindhárom hónapban növekvő tendencia
      figyelhető meg, ami azt jelenti, hogy a növények egyre hamarabb indulnak
      fejlődésnek tavasszal, a vegetációs időszak egyre korábban kezdődik.
      <br />
      <a
        href="https://www.met.hu/ismeret-tar/erdekessegek_tanulmanyok/index.php?id=2420&hir=A_novenyzet_muholdas_megfigyelese_%E2%80%93_vegetacios_indexek"
        target="_blank"
        >Műholdas vegetációs indexekről szóló részletes tanulmány az OMSZ honlapján>></a
      >
    </label>
  </div>
</div>

<div class="container">
  <div class="fixed-bg omsz-bg row justify-content-end my-5">
    <div class="col-5 dark-background py-5">
      <h2 class="p-3 text-light text-center fw-bold">
        Növényfenológiai megfigyelések az Országos Meteorológiai Szolgálatnál
      </h2>
      <h5 class="p-3 text-light text-justify">
        1870-ben, az Országos Meteorológiai Szolgálat jogelődjének, a
        Meteorológiai és Földdelejességi Magyar Királyi Központi Intézet
        alapításakor létesült a növényfenológiai megfigyelő hálózat.
      </h5>
    </div>
  </div>

  <div class="container my-5" style="height: 200px">
    <p class="py-3 text-justify">
      <img
        src="../../../assets/image/intezet_cimer.gif"
        class="img-fluid float-start me-5 mb-5"
        alt=""
      />
      A korabeli évkönyvekben 1871-1885. között 57 helyről vannak megfigyelések,
      hosszabb (legalább 7 éves) adatsor Bakonybél, Eger, Gospic, Körmend,
      Kőszeg, Nagy-Szeben, Oravica, Pécs és Török-Becse településeken állt elő.
      Ezt követően 1910-ben a Magyar Földrajzi Társaság, majd 1934-ben az
      Erdészeti Kutató Intézet létesített megfigyelő hálózatot.
    </p>
  </div>

  <div class="container my-5 border shadow">
    <div class="d-flex justify-content-center">
      <img
        src="../../../assets/image/evkonyv_1871.png"
        class="illustration my-5"
        alt=""
        style="max-width: 100%"
      />
    </div>
    <label for="illustration" class="d-block text-center mb-3 fst-italic">
      Részlet a Meteorológiai és Földdelejességi Magyar Királyi Központi Intézet
      1871-es évkönyvének fenológiai adataiból.
    </label>
  </div>

  <p class="py-3 text-justify">
    1951-ben az immár Országos Meteorológiai Intézet néven futó Meteorológiai
    Szolgálat szervezett fenológiai megfigyelő hálózatot. Túlnyomórészt vadon
    termő növények megfigyelését végezték mintegy 200 helyen, míg a
    mezőgazdasági növényeket 13 helyszínen, mezőgazdasági kutatóintézetekben,
    fajtakísérleti állomásokon figyelték meg. 1965-ben a megfigyelőhálózatot
    felújították, bővítették, így ekkor 34 növényfaj szerepelt a listán 80
    helyszínen. 1982-ben új alapokra helyezték a fenológiai hálózatot, a
    megfigyeléseket a MÉM-NAK növényvédő szakemberei végezték 2001-ig.
  </p>

  <div class="container my-5 border shadow">
    <div class="d-flex justify-content-center">
      <img
        src="../../../assets/image/archiv_megfigyeles.jpg"
        class="illustration my-5"
        alt=""
        style="max-width: 100%"
      />
    </div>

    <label for="illustration" class="d-block text-center mb-3 fst-italic">
      Részlet az Országos Meteorológiai Intézet 1963-es fonológiai adataiból.
    </label>
  </div>
</div>
