<div class="container m-lg-5" *ngIf="article$ | async as articles">
  <div
    class="d-block d-flex"
    *ngFor="let article of articles | paginate: { itemsPerPage: 3, currentPage: p }">
    <!--  | slice: pageSliceStart:pageSliceEnd" -->

    <div class="d-inline-block my-2 py-4 border-bottom">
      <h2 class="mb-1 text-center text-md-left">{{ article.title }}</h2>
      <p>
        <i> {{ article.date | date : 'YYYY. MM. dd.' }} </i>
      </p>
      <p>
        <img
        [src]="article.image[0].imgPath"
        alt="cikk"
        style="float: left; max-width: 350px"
        class="mx-lg-5 mx-3 mb-3"
        />
        {{ article.abstract }}
        <br>
        <br>
        <a routerLink="/details/{{ article._id }}">Bővebben</a>
      </p>
    </div>
  </div>
</div>

  <div class="d-flex justify-content-center">
    <style>
      .my-pagination /deep/ .ngx-pagination .current {
        background: rgb(0, 80, 0);
      }
    </style>
    <pagination-controls
      class="my-pagination"
      (pageChange)="p = $event"
      previousLabel="Előző"
      nextLabel="Következő"
    ></pagination-controls>
  </div>
