<div class="m-5 d-flex">
  <div class="d-block">
    <p><i>2022. január 27. 9:00</i></p>
    <h1>Nyugalmi állapotban a mogyoró</h1>
    <p>
      Bevezető Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Expedita accusamus sint laboriosam nam, eligendi hic recusandae, facere
      dolorum a quas illum quidem ex quam neque ullam voluptatem necessitatibus
      repellendus nemo!
    </p>
    <p>
      <img
        src="../../../assets/image/cikk.jpg"
        alt="cikk minta"
        style="float: left; max-width: 300px"
        class="me-3"
      />

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
      laboriosam nostrum quam nemo iusto ut exercitationem amet commodi eos qui
      placeat officia molestiae suscipit officiis ducimus sapiente, quas cum
      ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
      iusto, libero labore id, veniam illo, laboriosam inventore odit sit odio
      ea dignissimos voluptas maxime. Eaque cumque quos minus in doloremque.
    </p>
  </div>
</div>

<div class="m-5 d-flex">
  <div class="d-block">
    <p class="mb-1"><i>2022. január 2. 10:00</i></p>
    <h1>Nyugalmi állapotban a mogyoró</h1>
    <p class="m-3">
      <img
        src="../../../assets/image/cikk.jpg"
        alt="cikk minta"
        style="float: left; max-width: 100px"
        class="me-3"
      />

      Bevezető szöveg lorem ipsum dolor sit amet consectetur adipisicing elit.
      Illum iusto, libero labore id, veniam illo, laboriosam inventore odit sit
      odio ea dignissimos voluptas maxime. Eaque cumque quos minus in
      doloremque.
    </p>
    <a href="">Tovább</a>
  </div>
</div>

<div class="m-5 d-flex">
  <div class="d-block">
    <p class="mb-1"><i>2022. január 2. 10:00</i></p>
    <h1>Nyugalmi állapotban a mogyoró</h1>
    <p class="m-3">
      <img
        src="../../../assets/image/cikk.jpg"
        alt="cikk minta"
        style="float: left; max-width: 100px"
        class="me-3"
      />

      Bevezető szöveg lorem ipsum dolor sit amet consectetur adipisicing elit.
      Illum iusto, libero labore id, veniam illo, laboriosam inventore odit sit
      odio ea dignissimos voluptas maxime. Eaque cumque quos minus in
      doloremque.
    </p>
    <a href="">Tovább</a>
  </div>
</div>

<div class="m-5 d-flex">
  <div class="d-block">
    <p class="mb-1"><i>2022. január 2. 10:00</i></p>
    <h1>Nyugalmi állapotban a mogyoró</h1>
    <p class="m-3">
      <img
        src="../../../assets/image/cikk.jpg"
        alt="cikk minta"
        style="float: left; max-width: 100px"
        class="me-3"
      />

      Bevezető szöveg lorem ipsum dolor sit amet consectetur adipisicing elit.
      Illum iusto, libero labore id, veniam illo, laboriosam inventore odit sit
      odio ea dignissimos voluptas maxime. Eaque cumque quos minus in
      doloremque.
    </p>
    <a href="">Tovább</a>
  </div>
</div>

<div d-block>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Előző</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Következő</a>
      </li>
    </ul>
  </nav>
</div>
