<div *ngIf="observedData$ | async as observations" class="col-10 offset-1">
  <table class="table">
    <thead>
      <tr>
        <th>Dátum</th>
        <th>Megfigyelő</th>
        <th>Helyszín</th>
        <th>Növény</th>
        <th>Fenofázis</th>
        <th>Fényképek</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let observation of observations">
        <td>{{ observation.date }}</td>
        <td>
          {{ observation.user.firstName }} {{ observation.user.lastName }}
        </td>
        <td>{{ observation.location }}</td>
        <td>{{ observation.plant.name }}</td>
        <td>{{ observation.phase }}</td>
        <td *ngIf="observation.photo as photos">
          <div>
            <td *ngFor="let photo of photos">
              <img
                src="{{ backendImageURL }}{{ photo }}"
                class=""
                alt="nincs meg a kép"
                style="width: 128px"
              />
            </td>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
