<div *ngIf="isCameraExist; else noCameraExist">
  <div class="mt-5">
    <div>
      <!-- <h6 class="head-title margin-top-8">
        <span>Készíts és küldj fényképet eszközöd kamerájával!</span>
      </h6> -->
      <h5 class="my-2">Készíts és küldj fényképet eszközöd kamerájával!</h5>
    </div>
    <div class="btn-group my-3">
      <div *ngIf="showWebcam">
        <button class="btn btn-outline-success mb-3" (click)="takeSnapshot()">
          {{ photoString }}
        </button>
      </div>
      <div *ngIf="!showWebcam">
        <button class="btn btn-outline-success" (click)="onOffWebCam()">
          Új fénykép készítése
        </button>
      </div>
    </div>
    <br />
    <webcam
      [width]="800"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      *ngIf="showWebcam"
      [switchCamera]="nextWebcamObservable"
    >
    </webcam>
  </div>

  <div *ngIf="errors.length > 0">
    <h4>Error Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{ error | json }}</li>
    </ul>
  </div>
</div>

<ng-template #noCameraExist> Camera device not available </ng-template>
