.container {
  background: linear-gradient(120deg, rgb(44, 128, 10), rgb(41, 184, 148));
}

.error-message {
  font-style: italic;
  font-size: 0.8em;
  color: rgb(250, 208, 208);
  animation-name: error;
  animation-duration: 0.5s;
  position: relative;
}

@keyframes error {
  0% {
    right: 10px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

.fa-refresh {
  animation: saving 1s linear infinite;
}

@keyframes saving {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.file-input {
  display: none;
}
