<div *ngIf="signedin">
  <div class="container p-3">
    <div class="row">
      <h1 class="m-2 text-center">Új megfigyelés rögzítése</h1>
      <form #observationForm="ngForm" (ngSubmit)="save()">
        <div class="form-group mt-5 col-4">
          <label class="mb-1 subtitle" for="">Dátum*</label>
          <input
            name="date"
            [(ngModel)]="observation.date"
            type="date"
            class="form-control shadow mb-2"
            max="{{ maxDate }}"
            required
          />
        </div>

        <div class="form-group mt-5 col-4">
          <label class="mb-1 subtitle" for="">Helyszín*</label>
          <input
            name="location"
            [(ngModel)]="observation.location"
            type="text"
            class="form-control shadow"
            required
          />
        </div>

        <label class="mt-5 subtitle" for="">Megfigyelt növény*</label>

        <h5 class="mt-4 ms-5">Fák</h5>
        <div class="row row-cols-3 row-cols-md-6 g-3 my-2 ms-5 text-dark">
          <div class="col" *ngFor="let plant of trees">
            <div
              class="card h-100 shadow hovered"
              [ngClass]="{ highlighted: plant === selectedPlant }"
              (click)="setPlant(plant)"
            >
              <img [src]="plant.image[0]" class="card-img-top" alt="..." />
              <div class="card-body">
                <h6 class="card-title fw-bold">{{ plant.name }}</h6>
                <p class="card-text">{{ plant.latin }}</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="mt-5 ms-5">Cserjék</h5>
        <div class="row row-cols-3 row-cols-md-6 g-3 my-2 ms-5 text-dark">
          <div class="col" *ngFor="let plant of shrub">
            <div
              class="card h-100 shadow hovered"
              [ngClass]="{ highlighted: plant === selectedPlant }"
              (click)="setPlant(plant)"
            >
              <img [src]="plant.image[0]" class="card-img-top" alt="..." />
              <div class="card-body">
                <h6 class="card-title fw-bold">{{ plant.name }}</h6>
                <p class="card-text">{{ plant.latin }}</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="mt-5 ms-5">Lágyszárúak</h5>
        <div class="row row-cols-3 row-cols-md-6 g-3 my-2 ms-5 text-dark">
          <div class="col" *ngFor="let plant of herbaceous">
            <div
              class="card h-100 shadow hovered"
              [ngClass]="{ highlighted: plant === selectedPlant }"
              (click)="setPlant(plant)"
            >
              <img [src]="plant.image[0]" class="card-img-top" alt="..." />
              <div class="card-body">
                <h6 class="card-title fw-bold">{{ plant.name }}</h6>
                <p class="card-text">{{ plant.latin }}</p>
              </div>
            </div>
          </div>
        </div>

        <!--<button class="m-5">Más növény</button>-->

        <div *ngIf="observation.plant._id" class="form-group mt-3">
          <label class="mt-5 mb-1 subtitle" for="">Fenológiai fázis*</label>
          <br />

          <div *ngFor="let phase of selectedPlant.phase" class="">
            <div
              class="my-3 ms-5"
              (click)="setPhase(phase)"
              role="group"
              aria-label=""
            >
              <input
                type="radio"
                class=""
                name="btnradio"
                [id]="phase"
                autocomplete="off"
                required
              />
              <label class="btn" [for]="phase">{{ phase }}</label>
            </div>
          </div>

          <!-- Uplaod photo -->

          <div class="mt-5">
            <label class="subtitle" for="">Fénykép feltöltés</label>
            <p class="my-2">
              Egymás után több kép is feltölthető, melyek automatikusan
              optimális méretűre állítunk be.
              Ha van az eszköznek kamerája, lehet azt is használni,
              akár több kép is készíthető. A kiválasztás után a képek
              megjelennek, ellenőrizhetőek, a kiválasztás vissza is
              vonható.
              A megfigyelés adatai és fényképei csak a "Megfigyelés rögzítése"
              után kerülnek mentésre.
            </p>

            <!-- --------------- webcam -->
            <app-camera
              (getPicture)="handleImage($event)"
              name="webcamImage"
            ></app-camera>
            <div class="webcam-image" *ngIf="webcamImage">
              <img [src]="webcamImage.imageAsDataUrl" />
            </div>

            <form [formGroup]="fileUploadForm">
              <div class="row">
                <div class="col-sm-12">
                  <div class="ms-5">
                    <h6 class="head-title margin-top-8">
                      <span>Válassz fényképet!</span>
                    </h6>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="custom-file ms-5 mt-3">
                    <label for="image-inpit" class="custom-file-upload">
                      Tallózás
                    </label>
                    <input
                      type="file"
                      accept=".jpg, .png, .jpeg"
                      id="image-inpit"
                      class="custom-file-input"
                      name="uploadedImage"
                      (change)="selectFile($event)"
                      #UploadFileInput
                      multiple
                    />
                    <!--
                    <div class="row">
                      <div
                        *ngFor="let selectedFile of compressedFiles"
                        class="col m-2"
                      >
                        <img [src]="selectedFile" width="150" />
                      </div>
                    </div>
                    -->
                  </div>
                </div>
              </div>

              <br />

              <div class="row">
                <div
                  *ngFor="
                    let selectedFile of compressedFiles;
                    let indexOfelement = index
                  "
                  class="col m-2"
                >
                  <img [src]="selectedFile" width="150" />
                  <button
                    (click)="onRemove(indexOfelement)"
                    class="btn btn-danger"
                  >
                    File eltávolítása
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label class="mt-5 mb-2 subtitle" for="">Megjegyzés</label>
            <div
              [hidden]="observationForm.controls.note?.valid"
              class="error-message mt-1"
            >
              A leírás 2-1400 karakter hosszú lehet!
            </div>
          </div>
          <textarea
            name="note"
            [(ngModel)]="observation.note"
            type="textarea"
            class="form-control"
            pattern="^.{2,1400}$"
          ></textarea>
        </div>

        <!-- {{ observation | json }} -->

        <p class="my-3">
          A *-gal jelölt mezők megadása nélkül nem értelmezhető a
          megfigyelés, ezért azok kitöltése kötelező.
        </p>

        <button
          class="btn btn-outline-success my-2"
          [disabled]="observationForm.invalid || observation.phase === ''"
          type="submit"
        >
          Megfigyelés elküldése
        </button>
        <p *ngIf="observationForm.invalid || observation.phase === ''"
        class = "text-danger">
          Valami hiányzik a beviteli mezőkben: dátum, helyszín, növény,
          fenológiai fázis.
        </p>
      </form>
    </div>
  </div>
</div>

<div *ngIf="!signedin">
  <h5>
    Új megfigyelés rögzítéséhez be kell
    <a routerLink="../login" class="btn btn-link">jelentkeznie</a>. Köszönjük.
  </h5>
</div>
