<div class="container text-white p-3">
  <div class="row">
    <h3 class="py-2">Fenológiai adatok</h3>
    <form #observationForm="ngForm" (ngSubmit)="save()">

      <!-- <h4 class="py-2">Megfigyelési adatok</h4> -->

      <div class="form-group mt-3">
        <label for="">Időpont</label>
        <input name="date" [(ngModel)]="observation.date" type="date" class="form-control" required>
        {{observation.date}}
      </div>

      <div class="form-group mt-3">
        <label for="">Hely</label>
        <input name="location" [(ngModel)]="observation.location" type="text" class="form-control" required>
      </div>

      <h4 class="mt-5">Megfigyelt növény</h4>
      <div class="row row-cols-3 row-cols-md-6 g-3 mt-3 text-dark">
        <div class="col" *ngFor="let plant of plants$ | async">
          <div class="card h-100" (click)="setPlant(plant)">
            <img [src]="plant.image[0]" class="card-img-top" height="100px" alt="...">
            <div class="card-body">
              <h6 class="card-title fw-bold">{{plant.name}}</h6>
              <p class="card-text">{{plant.latin}}</p>
            </div>
          </div>
        </div>
      </div>


      <!-- <div class="row row-cols-2 row-cols-md-3 g-3 mt-3 text-dark">
        <div class="card g-3 p-0" *ngFor="let plant of plants$ | async" style="max-width: 540px;"
          (click)="setPlant(plant)">
          <div class="row g-0">
            <div class="col-md-5">
              <img [src]="plant.image" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">{{plant.name}}</h5>
                <p class="card-text">{{plant.latin}}</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->




      <!-- <div class="form-group mt-3">
        <div class="d-flex justify-content-between">
          <label for="">Megfigyelt növény</label>
        </div>
        <select class="custom-select border col-12 mr-5 p-2 rounded" name="name" [(ngModel)]="observation.plant"
          required>
          <option [selected] disabled hidden>Növények listája</option>
          <option *ngFor="let plant of plants$ | async" [ngValue]="plant" (click)="setPlant(plant)" [selected]="plant">
            {{plant.name}} - {{plant.latin}}</option>
        </select>
      </div> -->

      <!-- {{plants$ | async | slice :3:4 | json}} -->

      <!-- <div *ngIf="observation.plant.name" class="mt-3">
        <img [src]="observation.plant.image" alt="nem ok" width="300px">
      </div> -->

      <!-- <div *ngIf="observation.plant.name" class="form-group mt-3">
        <div class="d-flex justify-content-between">
          <label for="">Fenológiai fázis</label>
        </div>
        <select class="custom-select border col-12 mr-5 p-2 rounded" name="phase" [(ngModel)]="observation.phase"
          required>
          <option value="" selected disabled hidden>Fázisok listája</option>
          <option *ngFor="let phase of observation.plant.phase" [value]="phase">{{phase}}</option>
        </select>
      </div> -->

      <div *ngIf="observation.plant.name" class="form-group mt-3">
        <!-- <div class="d-flex justify-content-between">
          <label for="">Fenológiai fázis</label>
        </div> -->
        <h4 class="mt-5 mb-3">Fenológiai fázis</h4>
        <!-- <div *ngFor="let phase of observation.plant.phase">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">{{phase}}</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-secondary" for="option2">{{phase}}</label>
          </div>
        </div> -->

        <div *ngFor="let phase of observation.plant.phase" class="btn-group m-2 mb-5" (click)="setPhase(phase)"
          role="group" aria-label="">
          <input type="radio" class="btn-check" name="btnradio" [id]="phase" autocomplete="off">
          <label class="btn btn-outline-light" [for]="phase">{{phase}}</label>
        </div>

        <!-- Uplaod photo -->
        <!-- <app-upload-image (pathEvent)="setImagePath($event)"></app-upload-image> -->



        <div class="container">
          <h3>Fénykép feltöltés</h3>

          <form [formGroup]="fileUploadForm">
            <div class="row">
              <div class="col-sm-12">
                <div>
                  <h6 class="head-title margin-top-8"><span>Válassz fényképet!</span></h6>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="custom-file">

                  <input type="file" class="custom-file-input" id="customFile" name="uploadedImage"
                    (change)="onFileSelect($event)" #UploadFileInput multiple>
                  <!-- <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label> -->

                </div>

              </div>

              <!-- <div class="col-sm-6"> <button class="btn btn-primary" type="submit">Upload</button> -->
              <!-- </div> -->

            </div>
          </form>

        </div>


        <!--
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">

          {{fileName || "No file uploaded yet."}}

          <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <i class="fas fa-attach"></i>
          </button>
        </div> -->






      </div>

      <!-- <img src="../../assets/image/rugyfakadas.png" alt=""> -->

      <!-- <h1>Bootstrap v5.0 Styled Browse Button</h1>
        <h4>Styled file browse button using Bootstrap v5.0 and Alpine.js</h4>
        <div class="container">
          <div class="form-group" x-data="{ fileName: '' }">
            <div class="input-group shadow">
              <span class="input-group-text px-3 text-muted"><i class="fas fa-image fa-lg"></i></span>
              <input type="file" x-ref="file" name="img[]" class="d-none" multiple (change)="onFileSelect($event)">
              <input type="text" class="form-control form-control-lg" placeholder="Upload Image" x-model="fileName">
              <button class="browse btn btn-primary px-4" type="button" x-on:click.prevent="$refs.file.click()"><i
                  class="fas fa-image"></i> Browse</button>
            </div>
          </div>
        </div> -->


      <!-- --------------- webcam -->
      <!-- <app-camera (getPicture)="handleImage($event)"></app-camera>
      <div class="webcam-image" *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" />
      </div> -->



      <div class="form-group mt-3">
        <div class="d-flex justify-content-between">
          <label for="">Megjegyzés</label>
          <div [hidden]="observationForm.controls.note?.valid" class="error-message mt-1">
            A leírás 2-1400 karakter hosszú lehet!
          </div>
        </div>
        <textarea name="note" [(ngModel)]="observation.note" type="textarea" class="form-control"
          pattern="^.{2,1400}$"></textarea>
      </div>

      {{observation | json}}


      <button class="btn btn-primary" [disabled]="observationForm.invalid" type="submit">Mentés</button>

    </form>
  </div>
</div>

<div *ngIf="(allUser$ | async) as alluser" class="col-10 offset-1">

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of alluser">
        <td>{{ user._id }}</td>
        <td>{{ user.firstName }} </td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
      </tr>
    </tbody>
  </table>

  </div>


  <div *ngIf="(currentUser$ | async) as user" class="col-10 offset-1">

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user._id }}</td>
          <td>{{ user.firstName }} </td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
        </tr>
      </tbody>
    </table>

    </div>
