.container {
  //background: linear-gradient(120deg, rgb(44, 128, 10), rgb(41, 184, 148));
}

.error-message {
  font-style: italic;
  font-size: 0.8em;
  color: rgb(250, 208, 208);
  animation-name: error;
  animation-duration: 0.5s;
  position: relative;
}

@keyframes error {
  0% {
    right: 10px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

.fa-refresh {
  animation: saving 1s linear infinite;
}

@keyframes saving {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.custom-file-input {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.hovered:hover {
  //box-shadow: 10px 10px 5px grey;
  border-color:rgb(1, 160, 1);
}

.highlighted {
  border-color:rgb(1, 160, 1);
  border-width: 5px;
}

.subtitle {
  font-size: 25px;
  background-color: opacity(0);
}
