@use '../../../styles.scss';

.container {
  //background: linear-gradient(120deg, rgb(44, 128, 10), rgb(41, 184, 148));
  margin-left: 10vw;
  margin-right: 10vw;
}

.section__border{
  //border-top: 1px solid styles.$base-color;
}

.card {
  max-width: 40vw;
}

.remark__div {
  max-width: 90vw;
}

.textarea{
  width: 70vw;
}

.error-message {
  font-style: italic;
  font-size: 0.8em;
  color: rgb(250, 208, 208);
  animation-name: error;
  animation-duration: 0.5s;
  position: relative;
}

@keyframes error {
  0% {
    right: 10px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

.fa-refresh {
  animation: saving 1s linear infinite;
}

@keyframes saving {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.custom-file-input {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  border-color: styles.$base-color;
  border-width: 2px;
  border-radius: 5px;
  color: styles.$base-color;
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
}

.custom-file-upload:hover {
  background-color: styles.$lighten-base-color;
  border-color: styles.$darken-base-color;
  color: white;
}

.hovered:hover {
  //box-shadow: 10px 10px 5px grey;
  border-color: styles.$lighten-base-color;
  border-width: 2px;
}

.highlighted {
  border-color:styles.$lighten-base-color;
  border-width: 5px;
}

.subtitle {
  font-size: 25px;
  background-color: opacity(0);
}

.height {
  min-height: 30vh;
  margin-top: 30vh;
}

.btn-outline-success {
  border-color: styles.$base-color;
  border-width: 2px;
  color: styles.$base-color;
}

.btn-outline-success:hover {
  background-color: styles.$lighten-base-color;
  border-color: styles.$darken-base-color;
  color: white;
}
.button__height{
  height: auto;
}

.radio__input {
  accent-color: styles.$base-color;
}

@media only screen and (max-width: 600px){
  .container{
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
