<div class="container-fluid d-flex justify-content-center mainTitle my-10">
  <div>
    <h6 class="header mt-5"><b>Megfigyelési portál</b></h6>
    <h1 class="main_header"><b>Növényfenológia</b></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div
      class="row-cols-md-12 row-cols-lg-4 row-cols-xl-4 d-flex justify-content-center"
    >
      <div class="card h-100 shadow bg-body rounded">
        <img
          src="../../../assets/image/gyongyvirag.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex flex-column">
          <h5>Mi a jelentősége?</h5>
          <h3 class="card-title">Növényfenológiai megfigyelések</h3>
          <p class="card-text">
            A növények fejlődése összegzi a környezeti hatásokat, így a növény kiváló meteorológiai eszköz
            az éghajlat, az éghajlat változásának jellemzésére. A fenológiai
            jelenségek a növény fejlődésének látható jelei, a fenológiai fázisok
            az egyes élettani szakaszok határpontjai, melyek szabályszerű
            rendben követik egymást, ezért hű képet adnak a fejlődés üteméről. A
            fenológia eredeti feladata a fejlődési fázisok naptári időpontok
            szerinti feljegyzése volt.
          </p>
          <div class="card-footer mt-auto">
            <a [routerLink]="'/history'" class="card-link">Bővebben</a>
          </div>
        </div>
      </div>

      <div class="card h-100 mx-5 shadow bg-body rounded">
        <img
          src="../../../assets/image/megfigyelok.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body d-flex flex-column">
          <h5>Én is részt vehetek?</h5>
          <h3 class="card-title">Legyen Ön is megfigyelő!</h3>
          <p class="card-text">
            Önkénteseket keresünk növényfenológiai megfigyelésekhez: A feladat
            nagyon egyszerű, figyelni kell, hogy egy-egy növény pl. mikor kezd
            virágozni, mikor lombosodik, mikor kezd ősszel hullani a levele, és
            azt itt egy rövid regisztráció után rögzíteni. Ha
            ma nem figyeljük és mérjük meg a környezetünk állapotát és azt nem
            dokumentáljuk, akkor azt a jövőben már soha senki nem fogja tudni
            megmérni, megfigyelni.
          </p>
          <div class="card-footer mt-auto">
            <a [routerLink]="'/challenge'" class="card-link">Bővebben</a>
          </div>
        </div>
      </div>

      <div class="card h-100 shadow bg-body rounded">
        <img
          src="../../../assets/image/termes.jpg"
          class="card-img-top"
          alt="..."
        />
        <div
          class="card-body d-flex flex-column"
          *ngIf="article$ | async as article"
        >
          <h5>Miről írtunk legutóbb?</h5>
          <h3 class="card-title">{{ article[0].title }}</h3>
          <p class="card-text">
            {{ article[0].abstract }}
          </p>
          <div class="card-footer mt-auto">
            <a routerLink="/details/{{ article[0]._id }}" class="card-link"
              >Bővebben</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container border-top mt-5">
  <div class="d-flex justify-content-center m-4">
    <a href="https://www.met.hu/" target="_blank" class="">
      <img
        src="../../../assets/image/logo_x135_teljes_szurke_kerekitett.png"
        class=""
        alt="Országos Meteorológiai Szolgálat"
        width="200px"
      />
    </a>
  </div>

  <div class="row justify-content-center">
    <div
      *ngFor="let slider of sliderLinks; let i = index"
      class="card shadow rounded m-1 p-0 slider slider{{ i + 1 }}"
    >
      <a [href]="slider.omszLink" target="_blank" class="text-decoration-no">
        <img
          [src]="slider.iconPath"
          class="card-img-top"
          [alt]="slider.iconAlt"
        />
        <p class="text-center align-middle mt-3">{{ slider.title }}</p>
      </a>
    </div>
  </div>
</div>

<!-- <app-map></app-map> -->
