<div class="card my-2 shadow">
  <h4 class="card-header">Új jelszó beállítása</h4>
  <div *ngIf="resetPasswordStatus === ''">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="password">Új jelszó</label>
          <input
            type="password"
            formControlName="password"
            class="form-control my-2"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              Jelszó megadása kötelező
            </div>
            <div *ngIf="f.password.errors.pattern">
              A jelszó nem elég biztonságos: 9-15 karakter hosszú legyen, legyen
              benne legalább egy kisbetű, egy nagybetű, egy szám és egy
              speciális karakter (@!%*?&)
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">A jelszó megerősítése</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control my-2"
            [ngClass]="{
              'is-invalid':
                submitted && f.password.value !== f.confirmPassword.value
            }"
          />
          <div
            *ngIf="submitted && f.confirmPassword.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.confirmPassword.errors.required">
              A jelszó megerősítése kötelező
            </div>
          </div>
          <div
            *ngIf="submitted && f.password.value !== f.confirmPassword.value"
            class="invalid-feedback"
          >
            <div *ngIf="f.password.value !== f.confirmPassword.value">
              A jelszó nem egyezik
            </div>
          </div>
        </div>

        <div class="form-group m-2">
          <button [disabled]="loading" class="btn btn-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Rendben
          </button>
          <button type="button" class="btn btn-primary m-2" (click)="onCancel()">Mégsem</button>
        </div>
      </form>
    </div>
  </div>


  <div *ngIf="resetPasswordStatus === 'success'" class="m-3">
    <h3 class="m-2">Az új jelszó beállítása sikerült</h3>
    <h5 class="m-2">
      Új megfigyelés rögzítéséhez kérjük
      <a routerLink="../../../login">jelentkezzen be</a>! Köszönjük.
    </h5>
  </div>

  <div *ngIf="resetPasswordStatus === 'failed'" class="m-3">
    <h3 class="m-2">Az új jelszó beállítása nem sikerült</h3>
    <h5 class="m-2">
      Az emailben kapott link érvényessége biztonsági okokból lejárt.
      <br>
      Kérjük igényeljen
      <a routerLink="../../../forgotPassword" class="btn btn-link">új jelszót</a>
    </h5>
  </div>
</div>
