@use '../../../styles.scss';

.navbar__top, .dropdown-menu {
  background-color: styles.$base-color;
}

.navbar__bottom {
  background-color: styles.$base-color;
}

.OMSZ__logo{
  position: absolute;
  left: 44vw;
  top: 5px;
}

.active {
  font-weight: bold;
}
