<nav class="navbar navbar-expand-lg navbar__top">
  <div class="container-fluid">
    <!-- Navbar Brand-->
    <a class="navbar-brand" routerLink="/"
      ><img
        src="../../../assets/image/logo2.png"
        alt=""
        width="40px"
        class="mr-2 img__logo p-2 rounded"
      />
      <strong class="title">Növényfenológia</strong>
    </a>
    <div class="justify-content-center">
      <div class="me-auto mb-2 mb-lg-0">

        <div class="OMSZ__logo">
          <a href="https://www.met.hu/" target="_blank" class="">
            <img
              src="../../../assets/image/logo_x135_teljes_szurke_kerekitett.png"
              class="img__OMSZ__logo"
              alt="Országos Meteorológiai Szolgálat"
            />
          </a>
        </div>

        <div class="d-flex">
          <div *ngIf="userFirstName" class="nav__greeting--long align-items-center pt-2">
            Üdvözlünk: {{ userFirstName }} {{ userLastName }}
          </div>

          <div *ngIf="userFirstName" class="nav__greeting--short align-items-center pt-2">
            Üdv: {{ userLastName }}
          </div>

          <div *ngIf="userFirstName" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa fa-user"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarScrollingDropdown"
            >
              <li>
                <a class="dropdown-item" routerLink="/profile">Profil</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/myobservations"
                  >Megfigyeléseim</a
                >
              </li>

              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" (click)="onLogout()">Kijelentkezés</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button
      routerLink="/login"
      *ngIf="!userFirstName"
      class="btn button__signIn"
    >
      <i class="fa fa-sign-in"></i>
    </button>
  </div>
</nav>

<nav
  class="navbar navbar-expand-lg navbar__bottom d-flex justify-content-center mt-1"
>
  <div class="">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link me-3"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/observation"
            >Új megfigyelés</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-3"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/data"
            >Megfigyelések</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-3"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/history"
            >Jelentőség</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-3"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/challenge"
            >Kihívás</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-3"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/guide"
            >Útmutató</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-3"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/plant"
            >Növények</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link me-3"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/article"
            >Cikkek</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
