@use '../../../styles.scss';

.navbar__top {
  border-bottom-style: solid;
  border-width: 3px;
  border-color: styles.$base-color;
  background-color: styles.$light-base-color;
}

.navbar__bottom {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: styles.$base-color;
}

.img__logo{
  background-color: styles.$base-color;
}

.navbar-brand {
  color: styles.$base-color;
}

.OMSZ__logo{
  position: absolute;
  left: 45vw;
  top: 10px;
}

.img__OMSZ__logo {
  width: 10vw;
}

.button__signIn {
  background-color: styles.$lighten-base-color;
  color: white;
}

.active {
  font-weight: bold;
}

.nav-link {
  color: styles.$darken-base-color;
}

.fa-bars{
  color: styles.$darken-base-color;
}

.dropdown-item {
  color: styles.$darken-base-color;
}

@media only screen and (max-width: 576px){
  .title {
    display: none;
  }

  .img__OMSZ__logo {
    width: 20vw;
  }

  .OMSZ__logo{
    left: 40vw;
    top: 10px;
  }

  .nav__greeting--short {
    display: none;
  }

  .nav__greeting--long {
    display: none;
  }
}

@media only screen and (max-width: 992px){
  .nav__greeting--long {
    display: none;
  }

}

@media only screen and (min-width: 992px){
  .nav__greeting--short {
    display: none;
  }

}
