<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3 text-white" routerLink="/"
      ><img
        src="../../../assets/image/logo2.png"
        alt=""
        width="30px"
        class="me-2"
      />
      <strong>Növényfenológia</strong>
    </a>
    <div class="">
      <button
        class="navbar-toggler text-white"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a
              class="nav-link active text-white me-3"
              aria-current="page"
              routerLink="/observation"
              >Új megfigyelés</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-white me-3"
              aria-current="page"
              routerLink="/data"
              >Megfigyelések</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-white me-3"
              aria-current="page"
              routerLink="/article"
              >Cikkek</a
            >
          </li>

          <li class="nav-item dropdown me-3">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              id="navbarScrollingDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Útmutató
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
              <li>
                <a class="dropdown-item text-white" routerLink="/history"
                  >A növényfenológia története és jelentősége</a
                >
              </li>
              <li>
                <a class="dropdown-item text-white" routerLink="/guide"
                  >Megfigyelési útmutató</a
                >
              </li>
              <li>
                <a class="dropdown-item text-white" routerLink="/plant"
                  >Növények leírása</a
                >
              </li>
            </ul>
          </li>

          <li *ngIf="userFirstName"><hr class="dropdown-divider text-white" /></li>
          <li *ngIf="userFirstName" class="text-white ms-0 ms-lg-5">
            Üdvözlünk: {{ userFirstName }} {{ userLastName }}
          </li>

          <li *ngIf="userFirstName" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              id="navbarScrollingDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
              <li>
                <a class="dropdown-item text-white" routerLink="/profile">Profil</a>
              </li>
              <li>
                <a class="dropdown-item text-white" routerLink="/myobservations">Megfigyeléseim</a>
              </li>
              <!-- <li><a class="dropdown-item" href="#!">Activity Log</a></li> -->
              <li><hr class="dropdown-divider text-white" /></li>
              <li>
                <a class="dropdown-item text-white" (click)="onLogout()"
                  >Kijelentkezés</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <button routerLink="/login" *ngIf="!userFirstName" class="btn btn-success">
      <i class="fa fa-sign-in"></i>
    </button>
  </div>
</nav>
