h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}

.fixed-bg {
  background-image: url("../../../assets/image/megfigyelok2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-bg-2 {
  background-image: url("../../../assets/image/megfigyelok3.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-background{
  background-color: rgba($color: #252525, $alpha: 0.5);
  //opacity: 0.5;
}

.card-text, .card-footer{
  text-align: justify;
}
