h1 {
  font-size: 6vw;
}


.fixed-bg {
  background-image: url("../../../assets/image/megfigyelok2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
