@use '../../../styles.scss';

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
}

.card-text, .card-footer{
  text-align: justify;
}

.card__shadow {
  box-shadow: 0px 20px 30px -20px;
  border-top: 3px solid styles.$lighten-20-base-color;
}

i {
 font-size: 6em;
 margin: 10px 0 20px 30px;
}

.fa-calendar {
  color: brown;
}

.fa-leaf {
  color: green;
}

.float__div {
  float: inline-end;
}

.fixed-bg {
  background-image: url("../../../assets/image/megfigyelok2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-bg-2 {
  background-image: url("../../../assets/image/megfigyelok3.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-background{
  background-color: rgba($color: #252525, $alpha: 0.5);
  //opacity: 0.5;
}

.card-text, .card-footer{
  text-align: justify;
}
