/* You can add global styles to this file, and also import other style files */
$base-color: rgb(0, 80, 0);

$lighten-base-color: lighten($base-color, 5%);
$lighten-20-base-color: lighten($base-color, 20%);
$light-base-color: lighten($base-color, 80%);
$darken-base-color: darken($base-color, 5%);


$base-font: Roboto;

$base-box-shadow: 0px 20px 30px -20px;

.toast-success {
  background-color: $base-color;
}
